<html lang="en">
   
<head>
   <meta charset="UTF-8">
   <title>Admin Login</title>
   <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>

   <!-- Nav Bar -->
   <header>
      <nav class="navbar">
         <div class="navbar__container">
            <a href="/" id="navbar__logo"><img src="frontEndImages/elanco.png" alt="Logo" /></a>
            <div class="navbar__toggle" id="mobile-menu">
               <span class="bar"></span> <span class="bar"></span>
               <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
               <li class="navbar__item">
                  <a href="/" class="navbar__links">Home</a>
               </li>
               <li class="navbar__item"><a href="/login" class="navbar__links">Log In</a></li>
            </ul>
         </div>
      </nav>
   </header>

   <div class="center">
      <div class="header">
         Login Form
      </div>
      <form id="login-form" action="/admin" >
         <input type="text" placeholder="Email or Username" id="username">
         <i class="far fa-envelope"></i>
         <input id="pswrd" type="password" placeholder="Password" id="password">
         <i class="fas fa-lock"></i>
         <input type="submit" value="Sign in" >
         <a href="#">Forgot Password?</a>
      </form>
   </div>

   <script>
      // get the form element
      var signinForm = document.getElementById("login-form");
    
      // add event listener for form submission
      signinForm.addEventListener("submit", function(event) {
        // prevent the form from submitting
        event.preventDefault();
    
        // get the username and password fields
        var username = document.getElementById("username").value;
        var password = document.getElementById("pswrd").value;
    
        // perform validation
        if (username == "" || password == "") {
          alert("Please fill in all fields.");
          return false;
        }
    
        // submit the form
        signinForm.submit();
      });
    </script>

   <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
   </div>

</body>

</html>