<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset="utf-8">
    <title> Interactive Login Form</title>
    <link rel="stylesheet" href="index.css">
    <script src ="admin-login.js"> </script>



</head>

<body style="min-height: 1700px;">
    <header>
        <nav class="navbar">
            <div class="navbar__container">
              <a href="/" id="navbar__logo"><img src="frontEndImages/elanco.png" alt="Logo" /></a>
              <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span> <span class="bar"></span>
                <span class="bar"></span>
              </div>
              <ul class="navbar__menu">
                <li class="navbar__item">
                  <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                  <a href="/tech.html" class="navbar__links">Tech</a>
                </li>
                <li class="navbar__item">
                  <a href="/" class="navbar__links">API</a>
                </li>
                <li class="navbar__item"><a href="/login" class="navbar__links">Sign Up</a></li>
              </ul>
            </div>
          </nav>
    </header>

          <div class="main">
            <div class="main__container">
              <!-- left side -->
              <div class="main__content">
                <h1>Welcome to Admin</h1>
                <p>Elanco is a global leader in animal health dedicated to innovating and delivering products and services to prevent and treat 
                    disease in farm animals and pets, creating value for farmers, pet owners, veterinarians, stakeholders, and society
                     as a whole.</p>
                
                <button class="main__btn"><a href="#">Invalid Labels</a></button>
                <button class="main__btn2"><a href="#">Most Common Animal</a></button>
                <button class="main__btn3"><a href="#">No Animal</a></button>
          
              </div>
              <!-- right side -->
              <div class="main__img--container">
                
                <img id="main__img" src="frontEndImages/hero.svg" alt="pic" id="main__img">
              </div>
            </div>
          </div>
</body>
</html>
