<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Page</title>
    <link rel="icon" href="favicon.png">
    <style>
        /* Add your custom CSS styles here */
        .error {
            font-family: 'Noto Sans TC', sans-serif;
            margin-top: 3rem;
            font-size: 20px;
            font-weight: bold;
            color: #0864b4;
            text-align: center;
        }
        .error img {
            display: block;
            margin: 0 auto;
            max-width: 200px;
        }
    </style>
</head>
<body>
    <div class="error">
        <img src="frontEndImages/elanco_blue.png">
        <br>
        <img src="frontEndImages/sad_dog.png">
        <p>
            Sorry, it seems that an error has occured<br>
            Please return to the <a href="/">homepage</a>
        </p>
        
    </div>
</body>
</html>
