<!DOCTYPE html>
<html lan="en" and dir="Itr">
<head>
    <meta charset="utf-8">
    <title> Interactive Login Form</title>
    <link rel="stylesheet" href="results.css">
</head>

<body>
  <!--- nav bar --->
  
    <header>
      <nav class="navbar">
          <div class="navbar__container">
            <a href="/" id="navbar__logo"></i><img src="frontEndImages/elanco.png" alt="Logo" /></a>
            <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span> <span class="bar"></span>
              <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
              <li class="navbar__item">
                <a href="/" class="navbar__links">Home</a>
              <li class="navbar__item"><a href="/login" class="navbar__links">Log In</a></li>
            </ul>
          </div>
        </nav>
  </header>

  <!-- body of results page -->

  <h1>Results</h1>

  <p>This page will display the labels from the Artificial Intelligence scanner, 
    followed by how confident it is that it is correct.</p>

  <% for (let image of images) { %>
    <% var path = './userImages/' + image.path %>

    <div class="main">
      <div class="main__container">

        <!-- left side -->
        <div class="main__content">
          <li>
            <% if (image.containsAnimal) { %>
              <p><strong>This image contains an animal</strong></p>
            <% } else { %>
              <p><strong>This image doesn't contain an animal</strong></p>
            <% } %>
          </li>

          <% for (let label of image.labels) { %>
            <li>
              <%= label.description %>
            
              <% if (label.score > 0.9) { %>
                <span style="color: green"><strong>(High)</strong></span>
              <% } else if (label.score > 0.7) { %> 
                <span style="color: rgb(255, 204, 0)"><strong>(Medium)</strong></span>
              <% } else { %> 
                <span style="color: red"><strong>(Low)</strong></span>
              <% } %>
              
            </li>
          <% } %>
        
        </div>

        <!-- right side -->
        <div class="main__img--container">
          <img id="main__img" src="<%= path %>" alt="pic" id="main__img" width="300" height="300">
        </div>
      </div>
    </div>
    <br>
  <% } %>
   

</body>
</html>