
body {
	overflow: hidden; /* Hide scrollbars */
  }
a {
    text-decoration: none;
  }
  header {
    position: relative;
    z-index: 70;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .overlay {
    display: none;
  }
 
 
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
    width: 150px;
    height: 75px;
    margin-right: 0.6rem;
    margin-top: -0.6rem;
    position: relative; left: 1px;
  }
.links ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .links a {
    color: white;
    margin-left: 4.5rem;
    display: inline-block;
    transition: 0.3s;
    
  }
  
  p{
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 10;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  li{
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 150;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	list-style-type: none;  
  }

  .main2__btn {
	font-size: 1rem;
	background-image: linear-gradient(to top, #04243C 0%,#04243C 100%);
	padding: 14px 32px;
	border: none;
	border-radius: 4px;
	color: white;
	margin-top: 13rem;
	cursor: pointer;
	position: absolute;
	transition: all 0.35s;
	outline: none;
	width: 30%;
    left: 35%;
    bottom: 20px;
  }
  
  .main2__btn a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
  }

  .main2__btn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.35s;
	border-radius: 4px;
  }
  
  .main2__btn:hover {
	color: white;
  }
  
  .main2__btn:hover:after {
	width: 100%;
  }

  h2{
	font-size: 3rem;
	background-color: #04243C;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,
	Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }
  .box h2
{
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: 'Arial';
}


.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  
}

.big-title {
  font-size: 1rem;
  color: var(--darkOne);
  text-transform: capitalize;
  line-height: 1;
  position: relative; left: 350px;
  font-weight: bold;
}

.navbar {
	background: #04243C;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
  }
  
  .navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	
  }
  
  #navbar__logo {
	background-color: #ff8177;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	position: relative;
	right: 75px;
  }
  
  .fa-gem {
	margin-right: 0.5rem;
	
  }
  
  .navbar {
	background: #04243C;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
  }
  
  .navbar__container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	
  }
  
  #navbar__logo {
	background-color: #ff8177;
	background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	position: relative;
	right: 75px;
  }
  
  .fa-gem {
	margin-right: 0.5rem;
	
  }
  
  .navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
    position: relative;
    bottom: 10%;

  }
  
  .navbar__item {
	height: 80px;
  }
  
  .navbar__links {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	width: 100%;
	height: 100%;
	
  }

  .button{

	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f77062;
	border-radius: 80%;
	height: 35px;
	
	
  }

  .button:hover {
	background: #4837ff;
	transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
	color: #4837ff;
	transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
	.navbar__container {
	  display: flex;
	  justify-content: space-between;
	  height: 80px;
	  z-index: 1;
	  width: 100%;
	  max-width: 1300px;
	  padding: 0;
	}
  
	.navbar__menu {
	  display: grid;
	  grid-template-columns: auto;
	  margin: 0;
	  width: 100%;
	  position: absolute;
	  top: 1000px;
	  opacity: 1;
	  transition: all 0.5s ease;
	  height: 50vh;
	  z-index: -1;
	}
  
	.navbar__menu.active {
	  background: #131313;
	  top: 100%;
	  opacity: 1;
	  transition: all 0.5s ease;
	  z-index: 99;
	  height: 50vh;
	  font-size: 1.6rem;
	}
  
	#navbar__logo {
	  padding-left: 25px;
	}
  
	.navbar__toggle .bar {
	  width: 25px;
	  height: 3px;
	  margin: 5px auto;
	  transition: all 0.3s ease-in-out;
	  background: #fff;
	}
  
	.navbar__item {
	  width: 100%;
	}
  
	.navbar__links {
	  text-align: center;
	  padding: 2rem;
	  width: 100%;
	  display: table;
	}
  
	.navbar__btn {
	  padding-bottom: 2rem;
	}
  
	.button {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 80%;
	  height: 80px;
	  margin: 0;
	
	}
  
	#mobile-menu {
	  position: absolute;
	  top: 20%;
	  right: 5%;
	  transform: translate(5%, 20%);
	}
  
	.navbar__toggle .bar {
	  display: block;
	  cursor: pointer;
	}
  
	#mobile-menu.is-active .bar:nth-child(2) {
	  opacity: 0;
	}
  
	#mobile-menu.is-active .bar:nth-child(1) {
	  transform: translateY(8px) rotate(45deg);
	}
  
	#mobile-menu.is-active .bar:nth-child(3) {
	  transform: translateY(-8px) rotate(-45deg);
	}
  }

  /* Main Content CSS */

  
  .main__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-self: center;
	margin: 0 auto;
	height: 90vh;
	
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding-right: 50px;
	padding-left: 50px;
	
  }
  
 
  
  .main__content {
	
	width: 100%;
	
	
  }

  p{
	position: absolute;
	top: 25%;
	white-space:pre-line
  }
  
  .main__content h1 {
	font-size: 4rem;
	background-color: #04243C;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,
	Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  .main__content2 h1 {
	font-size: 4rem;
	background-color: #04243C;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,
	Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	position: absolute;
	top: 10%;
  }
  
  

  
  .main__content p {
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 10;
	font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,
	Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

  }

 
/* main button */

.main__btn {
	font-size: 1rem;
	background-image: linear-gradient(to top, #04243C 0%,#04243C 100%);
	padding: 14px 32px;
	border: none;
	border-radius: 4px;
	color: #fff;
	margin-top: 2rem;
	cursor: pointer;
	position: absolute;
	transition: all 0.35s;
	outline: none;
	top: 25%;
}

.main__btn a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
}

.main__btn:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.35s;
	border-radius: 4px;
}

.main__btn:hover {
	background-color: #4837ff;
}

.main__btn:hover a {
	color: white;
}

.main__btn:hover:after {
	width: 100%;
}  

/* end main button */

.main__btn2 {
	font-size: 1rem;
	background-image: linear-gradient(to top, #04243C 0%,#04243C 100%);
	padding: 14px 32px;
	border: none;
	border-radius: 4px;
	color: #fff;
	margin-top: 2rem;
	cursor: pointer;
	position: absolute;
	transition: all 0.35s;
	outline: none;
	top: 25%;
	margin-left: 260px;
}
  
  .main__btn2 a {
	position: relative;
	z-index: 2;
	color: #fff;
	text-decoration: none;
  }
  
  .main__btn2:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #4837ff;
	transition: all 0.35s;
	border-radius: 4px;
  }
  
  .main__btn2:hover {
	color: white;
  }
  
  .main__btn2:hover:after {
	width: 100%;
  }


  
  .main__img--container {
	text-align: center;
  }
  
  #main__img {
	height: 80%;
	width: 80%;
	
	
  }
 
  
  /* Mobile Responsive */
  @media screen and (max-width: 768px) {
	.main__container {
	  display: grid;
	  grid-template-columns: auto;
	  align-items: center;
	  justify-self: center;
	  width: 100%;
	  margin: 0 auto;
	  height: 90vh;
	}
  
	.main__content {
	  text-align: center;
	  margin-bottom: 4rem;
	}
  
	.main__content h1 {
	  font-size: 2.5rem;
	  margin-top: 2rem;
	}
  
	.main__content h2 {
	  font-size: 3rem;
	}
  
	.main__content p {
	  margin-top: 1rem;
	  font-size: 1.5rem;
	}
  }
  
  @media screen and (max-width: 480px)  {
	.main__content h1 {
	  font-size: 2rem;
	  margin-top: 3rem;
	}
   
	.main__content h2 {
	  font-size: 2rem;
	}
  
	.main__content p {
	  margin-top: 2rem;
	  font-size: 1.5rem;
	}
  
	.main__btn {
	  padding: 12px 36px;
	  margin: 2.5rem 0;
	}
  }

 label{
	position: relative;
	top: 1px;
	left: 1px;
	text-align: center;
	font-size: large;
	color: #04243C;
	font-weight: 700;
 }

 input{
	position: relative;
	top: 30px;
	color: #04243C;
	left: 35px;
 }
 
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
 body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
 }
  
 html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean {
	height: 5%;
	width: 100%;
	position: sticky;
	bottom: 0;
	left: 0;
	background: #015871;
	opacity: 0.9;
	z-index: -1;
  }
  
  .wave {
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
	position: absolute;
	top: -198px;
	width: 6400px;
	height: 198px;
	animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
	transform: translate3d(0, 0, 0);
	opacity: 0.9;
	z-index: -1;
  }
  

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


 


.box{
  position: relative;
  color: #f5f5f5;
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  left: 200px;
}

@keyframes rotate {
  100%{
    filter: hue-rotate(-360deg)
  }
}
.box{
  height: 30%;
  width: 30%;
  background: white;
  border-radius: 5px 5px 0 0;
  display: block;
  position: absolute;
  top: 58%;
  left: 75%;
  line-height: 62px;
  font-size: 25px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
	border: 2px solid #040404;
	border-radius: 5px;
	padding: 10px;
	opacity: 0.7;
}

  
  .results_box{
	max-height: 60%;
	height: 60%;
	width: 90%;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px 5px 0 0;
	display: block;
	position: absolute;
	top: 65%;
	left: 50%;
	line-height: 20px;
	font-size: 25px;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
   	border: 2px solid #040404;
	border-radius: 5px;
	padding: 1px;
	resize: vertical;
	overflow: scroll;
	z-index: 9;
  }


/* Admin index results */
.admin_results_box{
	max-width: 100%;
	height: 60%;
	width: 90%;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px 5px 0 0;
	display: block;
	position: absolute;
	top: 36%;
	line-height: 20px;
	font-size: 25px;
	box-sizing: border-box;
	border: 2px solid #040404;
	border-radius: 5px;
	padding: 1px;
	resize: vertical;
	overflow: scroll;
	z-index: 9;
	text-align: center;
}

.admin_results_box table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	font-size: 15px;
}
  
.admin_results_box th,
.admin_results_box td {
	text-align: center;
	height: 50px;
	padding: 0 10px;
}
  
.admin_results_box td:first-child {
	width: 50px !important;
	max-width: 50px !important;
}
  
.admin_results_box td:not(:first-child) {
	width: auto;
}
  
.admin_results_box tr:hover {
	background-color:  #04243c6c;
}
  
.admin_results_box th {
	background-color: #04243C;
	color: white;
}
  
.admin_results_box li {
	font-size: 15px;
}
  

/* confirm button on results page */
.confirm_btn {
    font-size: 1rem;
    background-color: #4CAF50;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: all 0.35s;
    outline: none;
    position: relative;
}
.confirm_btn:hover {
    background-color: #3e8e41;
}
.confirm_btn:focus {
    outline: none;
}
.confirm_btn:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}
 

  
  